.nav-links {
  list-style: none;
  display: flex;
  gap: 10px; /* space between buttons */
  margin-left: 70px;
}

.nav-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #009dff; /* Darker blue on hover */
}

.nav-button:active {
  background-color: #32beff; /* Even darker when clicked */
}
